@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

body {
  background: white;
}

.blog_post {
  margin: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 2rem 1rem 2rem;
  background: #fff;
  max-width: 900px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
}

h1, h2, h3 {
  font-family: Gilroy !important;
}

h2 {
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin: 0 0 0.5rem 0;
  color: #24eba3;
  font-size: 1.25rem;
}

h1 {
  margin: 0;
  letter-spacing: 0.5px;
  text-align: center;
}

.greentitle {
  margin: 1rem 0 0 0;
  font-size: 4.5rem !important;
  color: #24eba3;
}

.graytitle {
  color: #868e96;
  font-size: 3.5rem !important;
  font-style: italic;
}

.name {
  text-align: end;
  font-style: italic;
  font-size: 1.5rem;
  color: #868e96;
}

p {
  margin: 1rem 0 1rem 0;
  font-size: 1.4rem;
  font-family: Muli;
  color: #868e96;
}

.avatar {
    float:left;
    margin: 0;
}

img {
  border-radius: 50%;
}

.authorName {
    line-height:60px;
    font-style: italic;
    margin: 0;
    font-size: 1.3rem !important;
}

.badge{
  background: #5c5aea;
  color: #fff;
  min-width: 50px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 35px;
  border-radius: 30px;
  display: inline;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin-left: 2px;
  font-size: 0.9rem;
}